# Project exclude paths
*.iml
.idea
.gradle
build
out
CopyAndStart.cmd
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Copy.cmd
/target/AdminPannel-1.0.jar
/target/antrun/build-main.xml
